USE [master]
GO
/****** Object:  Database [ERPdb]    Script Date: 2014/11/10 17:18:58 ******/
CREATE DATABASE [ERPdb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERPdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERPdb]
GO
/****** Object:  Table [dbo].[branchTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[branchTB](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[branchName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[departmentTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[departmentTB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branchid] [int] NOT NULL,
	[departmentName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employeeTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employeeTB](
	[id] [int] NOT NULL,
	[employeeName] [varchar](50) NOT NULL,
	[phoneNumber] [varchar](20) NOT NULL,
	[dateOfEntry] [date] NOT NULL,
	[positionid] [int] NULL,
	[organizationid] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jurisdictionTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jurisdictionTB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [varchar](20) NULL,
	[limitsName] [varchar](50) NOT NULL,
	[moduleid] [int] NOT NULL,
	[isposition] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[moduleid] ASC,
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[moduleTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[moduleTB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[moduleName] [varchar](100) NULL,
	[descb] [varchar](500) NOT NULL,
	[moduleid] [int] NOT NULL,
	[moduleGoup] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[moduleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[organizationTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[organizationTB](
	[id] [varchar](20) NOT NULL,
	[name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[positionTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[positionTB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[positionName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[positionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usersTB]    Script Date: 2014/11/10 17:18:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usersTB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [varchar](20) NOT NULL,
	[userpassword] [varchar](50) NOT NULL,
	[empid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[jurisdictionTB] ADD  DEFAULT ('false') FOR [isposition]
GO
ALTER TABLE [dbo].[departmentTB]  WITH CHECK ADD FOREIGN KEY([branchid])
REFERENCES [dbo].[branchTB] ([id])
GO
ALTER TABLE [dbo].[employeeTB]  WITH CHECK ADD FOREIGN KEY([organizationid])
REFERENCES [dbo].[organizationTB] ([id])
GO
ALTER TABLE [dbo].[employeeTB]  WITH CHECK ADD FOREIGN KEY([positionid])
REFERENCES [dbo].[positionTB] ([id])
GO
ALTER TABLE [dbo].[jurisdictionTB]  WITH CHECK ADD FOREIGN KEY([moduleid])
REFERENCES [dbo].[moduleTB] ([moduleid])
GO
ALTER TABLE [dbo].[jurisdictionTB]  WITH CHECK ADD FOREIGN KEY([userid])
REFERENCES [dbo].[usersTB] ([userid])
GO
ALTER TABLE [dbo].[usersTB]  WITH CHECK ADD FOREIGN KEY([empid])
REFERENCES [dbo].[employeeTB] ([id])
GO
insert into organizationTB values('00000','系统技术部门')
insert into employeeTB values(1,'Dodd','15066817901',GETDATE(),null,'00000')
insert into usersTB values('1','3d4f2bf07dc1be38b20cd6e46949a1071f9d0e3d',1)
insert into moduleTB values('添加员工','添加员工模块',1001,'100人力')
insert into jurisdictionTB values('1','超级管理',1001,'false')
