USE [master]
GO
/****** Object:  Database [ERPdb]    Script Date: 2014/12/18 15:30:17 ******/
CREATE DATABASE [ERPdb]
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERPdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERPdb]
GO
/****** Object:  Table [dbo].[CompanyTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyTB](
	[Com_id] [int] IDENTITY(101,1) NOT NULL,
	[Name_Cn] [varchar](40) NOT NULL,
	[Name_En] [varchar](40) NULL,
	[City] [varchar](10) NOT NULL,
	[Address_Cn] [varchar](50) NOT NULL,
	[Address_En] [varchar](50) NULL,
	[Front_Tel] [char](11) NOT NULL,
	[Remarks] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Com_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DepartmentTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepartmentTB](
	[Dept] [int] IDENTITY(11,1) NOT NULL,
	[Dept_Name] [varchar](10) NULL,
	[Com_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DesignationTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DesignationTB](
	[Des_Id] [int] IDENTITY(1,1) NOT NULL,
	[Des_Name] [varchar](30) NOT NULL,
	[Des_Year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Des_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee_HisTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee_HisTB](
	[Emp_Id] [int] NOT NULL,
	[Name_Cn] [varchar](20) NOT NULL,
	[Name_En] [varchar](20) NULL,
	[Emp_Dept] [int] NULL,
	[Emp_Des] [int] NULL,
	[Gender] [varchar](4) NOT NULL,
	[Dob] [date] NOT NULL,
	[Mobile] [char](11) NULL,
	[Email] [varchar](20) NULL,
	[Address] [varchar](20) NOT NULL,
	[Join_Date] [date] NULL,
	[Leave_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeTB](
	[Emp_Id] [int] IDENTITY(100000,1) NOT NULL,
	[Name_Cn] [varchar](20) NOT NULL,
	[Name_En] [varchar](20) NULL,
	[Emp_Dept] [int] NULL,
	[Emp_Des] [int] NULL,
	[Gender] [varchar](4) NOT NULL,
	[Dob] [date] NOT NULL,
	[Mobile] [char](11) NULL,
	[Email] [varchar](20) NULL,
	[Address] [varchar](20) NOT NULL,
	[Join_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModelTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModelTB](
	[Model_ID] [int] NOT NULL,
	[Model_Name] [varchar](20) NOT NULL,
	[Model_Group] [varchar](20) NOT NULL,
	[Model_Remarks] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Model_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Model_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Per_DesTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Per_DesTB](
	[Des_Id] [int] NOT NULL,
	[Per_Id] [int] NOT NULL,
	[Per_Remarks] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PermissionTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PermissionTB](
	[Emp_Id] [int] NOT NULL,
	[Per_Id] [int] NOT NULL,
	[Per_Remarks] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usersTB]    Script Date: 2014/12/18 15:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usersTB](
	[userid] [varchar](20) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[Emp_Id] [int] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DepartmentTB]  WITH CHECK ADD FOREIGN KEY([Com_Id])
REFERENCES [dbo].[CompanyTB] ([Com_id])
GO
ALTER TABLE [dbo].[Employee_HisTB]  WITH CHECK ADD FOREIGN KEY([Emp_Dept])
REFERENCES [dbo].[DepartmentTB] ([Dept])
GO
ALTER TABLE [dbo].[Employee_HisTB]  WITH CHECK ADD FOREIGN KEY([Emp_Des])
REFERENCES [dbo].[DesignationTB] ([Des_Id])
GO
ALTER TABLE [dbo].[EmployeeTB]  WITH CHECK ADD FOREIGN KEY([Emp_Dept])
REFERENCES [dbo].[DepartmentTB] ([Dept])
GO
ALTER TABLE [dbo].[EmployeeTB]  WITH CHECK ADD FOREIGN KEY([Emp_Des])
REFERENCES [dbo].[DesignationTB] ([Des_Id])
GO
ALTER TABLE [dbo].[Per_DesTB]  WITH CHECK ADD FOREIGN KEY([Des_Id])
REFERENCES [dbo].[DesignationTB] ([Des_Id])
GO
ALTER TABLE [dbo].[Per_DesTB]  WITH CHECK ADD FOREIGN KEY([Per_Id])
REFERENCES [dbo].[ModelTB] ([Model_ID])
GO
ALTER TABLE [dbo].[PermissionTB]  WITH CHECK ADD FOREIGN KEY([Emp_Id])
REFERENCES [dbo].[EmployeeTB] ([Emp_Id])
GO
ALTER TABLE [dbo].[PermissionTB]  WITH CHECK ADD FOREIGN KEY([Per_Id])
REFERENCES [dbo].[ModelTB] ([Model_ID])
GO
ALTER TABLE [dbo].[usersTB]  WITH CHECK ADD FOREIGN KEY([Emp_Id])
REFERENCES [dbo].[EmployeeTB] ([Emp_Id])
GO
ALTER TABLE [dbo].[EmployeeTB]  WITH CHECK ADD  CONSTRAINT [CK_Email] CHECK  (([Email] like '%@%'))
GO
ALTER TABLE [dbo].[EmployeeTB] CHECK CONSTRAINT [CK_Email]
GO
ALTER TABLE [dbo].[EmployeeTB]  WITH CHECK ADD  CONSTRAINT [CK_Gender] CHECK  (([Gender]='女' OR [Gender]='男'))
GO
ALTER TABLE [dbo].[EmployeeTB] CHECK CONSTRAINT [CK_Gender]
GO
USE [master]
GO
