USE [master]
GO
/****** Object:  Database [ERPdb]    Script Date: 2014/12/23 21:50:30 ******/
CREATE DATABASE [ERPdb]
GO
USE [ERPdb]
GO
/****** Object:  Table [dbo].[EmployeeTB]    Script Date: 2014/12/23 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeTB](
	[Emp_Id] [varchar](4) NOT NULL,
	[Name_Cn] [varchar](30) NOT NULL,
	[Name_En] [varchar](30) NULL,
	[Gender] [varchar](4) NOT NULL,
	[Dob] [date] NOT NULL,
	[Mobile] [char](11) NULL,
	[Email] [varchar](30) NULL,
	[Address] [varchar](50) NOT NULL,
	[Join_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModelTB]    Script Date: 2014/12/23 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModelTB](
	[Model_ID] [int] NOT NULL,
	[Model_Name] [varchar](40) NOT NULL,
	[Model_Group] [varchar](40) NOT NULL,
	[Model_Remarks] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Model_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Model_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PermissionTB]    Script Date: 2014/12/23 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PermissionTB](
	[Emp_Id] [varchar](4) NOT NULL,
	[Per_Id] [int] NOT NULL,
	[Per_Remarks] [varchar](80) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usersTB]    Script Date: 2014/12/23 21:50:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usersTB](
	[userid] [varchar](20) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[Emp_Id] [varchar](4) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PermissionTB]  WITH CHECK ADD FOREIGN KEY([Emp_Id])
REFERENCES [dbo].[EmployeeTB] ([Emp_Id])
GO
ALTER TABLE [dbo].[PermissionTB]  WITH CHECK ADD FOREIGN KEY([Per_Id])
REFERENCES [dbo].[ModelTB] ([Model_ID])
GO
ALTER TABLE [dbo].[usersTB]  WITH CHECK ADD FOREIGN KEY([Emp_Id])
REFERENCES [dbo].[EmployeeTB] ([Emp_Id])
GO
ALTER TABLE [dbo].[EmployeeTB]  WITH CHECK ADD CHECK  (([Emp_Id] like 'E___'))
GO
ALTER TABLE [dbo].[EmployeeTB]  WITH CHECK ADD  CONSTRAINT [CK_Email] CHECK  (([Email] like '%@%'))
GO
ALTER TABLE [dbo].[EmployeeTB] CHECK CONSTRAINT [CK_Email]
GO
ALTER TABLE [dbo].[EmployeeTB]  WITH CHECK ADD  CONSTRAINT [CK_Gender] CHECK  (([Gender]='woman' OR [Gender]='man'))
GO
ALTER TABLE [dbo].[EmployeeTB] CHECK CONSTRAINT [CK_Gender]
GO
USE [master]
GO
